* {
  margin: 0;
  padding: 0;
}
#navbar {
  display: flex;
  justify-content: space-between; /* 👈 right end */
  align-items: center; /* 👈 vertically center */
  padding: 15px;
  background-color: bisque;
}

a {
  color: black;
}
.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu a {
  margin-left: 25px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

#up-page {
  background-color: #e6ebf2;
  height: 185px;
  padding-left: 25px;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 45px;
}

.contact-page {
  background-color: #ebf1f9;
}

#form-side {
  margin-left: 50px;
  margin-right: 50px;
  border: 0.4px black solid;
  padding: 25px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  margin-top: 25px;
}

input {
  width: 400px;
}

textarea {
  width: 400px;
  height: 120px;
}

.button {
  width: 100px;
  height: 35px;
  color: white;
  background-color: blue;
}

.form-side-2 {
  margin-left: 350px;
  margin-right: 25px;
  border: 0.4px black solid;
  padding: 25px;
  width: 275px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  margin-top: 25px;
  height: 310px;
}

.form-div {
  display: flex;
  /* gap: 175px; dono div ke beech gap */
  align-items: flex-start;
}

.input-2 {
  width: 250px;
}

.message-box-right {
  width: 250px;
}

.button-right {
  background-color: blue;
  width: 100px;
  color: white;
  height: 35px;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background: #3b5998; /* default */
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  font-size: 16px;
}

/* Individual colors */
.social-icons a:nth-child(2) {
  background: #1da1f2; /* Twitter */
}

.social-icons a:nth-child(3) {
  background: #0077b5; /* LinkedIn */
}

.social-icons a:hover {
  transform: translateY(-3px);
}
